name: Docker

# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Build and publish package
        uses: actions/setup-node@v3
        with:
          node-version: 24
          registry-url: https://registry.npmjs.org/

      - run: git config --global user.email "elabutin@mts.ru"
      - run: git config --global user.name "Eugene Labutin"
      - run: npm ci
      - run: npm run build
      - run: npm run release
      - run: git push && git push --tags
      - run: npm publish --access public
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}
